/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "nDefaults.scss";

.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-red-btn {
    background-color: #ee1c22;
    color: white;
}

.scan-btns {
    background-color: black;
    color: white;
    margin: 30px !important;
    font-size: 3vh;
}

.mat-tab-label {
    color: black;
}

.mat-card {
    margin: 15px;
}

.mat-menu-item a {
    color: white;
    text-decoration: none;
}