<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" style="    background-color: dimgray;" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
    <h3 style="text-align:center; color: white;">Number of Approved 23/50</h3>
  </div>
  <mat-card class="card">
    <div fxLayout="row " fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <p>Name: Alpha Shikwambana <br> ID NO: 9503275538084 <br> Address: 192 Longtom str</p>
        <div fxLayout="row wrap" style="background-color: green; width: 130px;" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <p>Approved</p>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="29" fxLayoutAlign="center stretch" fxShow="true" fxHide="false"><img imgSrc="/Web/paper.jpg" width="100%" height="auto"></div>
    </div>
  </mat-card>
</div>